@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap');

:root{
    --font-family: 'Akshar', sans-serif;
    --font-family: 'Roboto Mono', monospace;
}

.tabel{
    background-color: snow;
    color: black;
    padding: 0 30px;
    font-family: 'Akshar', sans-serif;
}

.jadwal{
    background-color: rgb(209, 209, 209);
    color: black;
    padding: 0 30px;
    font-family: 'Akshar', sans-serif;
}

.footer {
    grid-area: footer;
    background: white;
}

.detail {
    background-color: rgb(209, 209, 209);
    color: black;
    padding: 20px 20px;
    font-family: 'Roboto Mono', monospace;
}